@model IEnumerable<XML_Lab5.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<a class="btn btn-default" asp-action="Create">Add a Book</a>

<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => item.Title) </td>
                <td>@Html.DisplayFor(p => item.FirstName) </td>
                <td>@Html.DisplayFor(p => item.LastName) </td>
            </tr>
        }
    </tbody>


</table>

